:root {
  --app-height: 100%;
}

/* inter-200 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/inter-v8-latin-200.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v8-latin-200.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inter-v8-latin-200.woff")
      format("woff"); /* Modern Browsers */
}
/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v8-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v8-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inter-v8-latin-regular.woff")
      format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "Whyte Inktrap Book";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ABCWhyteInktrap-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Whyte Inktrap Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ABCWhyteInktrap-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Whyte Inktrap Heavy";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ABCWhyteInktrap-Heavy.woff2") format("woff2");
}

/* A MINIMAL RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100vh;
  height: var(--app-height);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h5,
p,
ol,
ul,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1rem;
  font-family: "Whyte Inktrap Book", sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  height: 100vh;
  height: var(--app-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

main {
  padding: 0.6rem 1rem 1rem 1rem;
}

.tracker {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.tracker span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.label {
  font-size: 1rem;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Whyte Inktrap Book", sans-serif;
}

.label img {
  opacity: 0.6;
}

.health,
.defence,
.stamina {
  margin-right: 1rem;
  font-family: "Whyte Inktrap Heavy", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  min-width: 1.4rem;
  text-align: center;
  margin-left: 0.4rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 1rem;
  justify-content: center;
  position: relative;
  margin: 0.4rem 0;
}

.card {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.card:hover {
  background-color: black;
}

.card:focus {
  outline: auto;
}

.card[disabled] {
  pointer-events: none;
  opacity: 0.6;
}

.card img {
  border-radius: 0.6rem;
  transition: all 0.2s ease-out;
}

.card img:hover {
  opacity: 0.8;
}

/* Phone portrait only*/
@media (max-width: 599px) and (orientation: portrait) {
  body {
    align-items: flex-start;
  }
  .board {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .tracker {
    justify-content: space-between;
  }
  .health,
  .defence,
  .stamina {
    text-align: end;
    margin-right: 0.6rem;
    margin-left: 0;
  }
}

/* Phone landscape only */
/* @media (max-width: 599px) and (orientation: landscape) {
  .board {
    align-content: flex-start;
  }
  .card {
    width: 24%;
  }
} */

/* Tablet portrait only */
/* @media (min-width: 600px) and (orientation: portrait) {
  body {
    align-items: flex-start;
  }
  .board {
    align-content: flex-start;
  }
  .card {
    width: 24%;
  }
} */

/* Tablet and up */
@media (min-width: 900px) {
  .card:hover {
    transform: scale(1.05);
  }
}

/* @keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

.game-over,
.game-win {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.8);
  font-family: "Whyte Inktrap Heavy", sans-serif;
  font-size: 3rem;
  text-align: center;
}

.action-button {
  padding: 0.2rem 1rem;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 1rem;
  color: white;
  float: right;
  font-family: "Inter", sans-serif;
  font-family: "Whyte Inktrap Regular", sans-serif;
  font-size: 0.9rem;
}

.action-button:hover {
  background-color: white;
  color: black;
}

.disabled,
.disabled:hover {
  pointer-events: none;
  background-color: transparent;
  border-color: hsla(0, 100%, 100%, 0.4);
  color: hsla(0, 100%, 100%, 0.4);
}
