:root {
  --card-width: 4rem;
  --card-height: 5.7rem;
}

/* 242 * 340 */

/* A MINIMAL RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h5,
p,
ol,
ul,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  width: 96%;
  height: 50%;
}

.tracker {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.label {
  width: 7rem;
  display: flex;
  justify-content: space-between;
}

.cell {
  display: flex;
  flex-direction: column;
}

.health,
.defence,
.stamina {
  display: inline-block;
  width: 1rem;
  min-width: 1rem;
  margin-right: 2rem;
}

.wave {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 0.4rem;
}
.card {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  width: 24%;
  height: auto;
}
.card:focus,
.card:hover {
  background-color: black;
  transform: scale(1.05);
}
.card[disabled] {
  pointer-events: none;
  opacity: 0.6;
}
.card img {
  width: 100%;
}

.card img:hover {
  opacity: 0.8;
}

.evade {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 0.4rem;
  margin-top: 1rem;
}
.evade:hover {
  background-color: black;
  color: white;
}

@media (max-width: 400px) {
  .wave {
    justify-content: center;
  }
}
.upperleft {
  display: flex;
  width: 100%;
}
.lowerright {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}
.disabled {
  pointer-events: none;
}
